.title{
    text-align: center;
    background: rgba(55, 16, 8, 0.7);
    color:rgb(166, 173, 229);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px  30px;
    border-radius: 5px;
    padding: 4px 0px;
}
.title h2{
    font-size: 32px;
    color:antiquewhite;
    margin-top: 5px ;
    text-transform: none;
}