.programs{
    margin: 40px auto;
    padding: 0 60px;
    position: relative;

}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program{
    flex-basis: 31%;
    position: relative;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background: rgba(0, 15,152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:antiquewhite;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img{
    width: 60px;
    height: 50px;
    margin-bottom: 10px;
}

.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}

.next-btn , .back-btn{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px ;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color:  rgba(37, 11, 5, 0.7);
}
.back-btn{
    right: auto;
    left:0;
}
.sliderP{
    overflow: hidden;

}
.sliderP ul{
    display: flex;
    width: 400%;
    overflow-x: hidden;
    transition: 1s;
}

.sliderP ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}



/*................media queries...................  */

@media (max-width:475px){
    .program img{
        width: 100px;
        height: 100px;
    }
    .caption img{
        width: 40px;
        height: 35px;
        margin-bottom: 10px;
    }
    .caption{
        padding-top: 50%;
    }
}

@media (max-width:430px){
    .program img{
        width: 70px;
        height: 70px;
    }
    .caption img{
        width: 30px;
        height: 25px;
        margin-bottom: 10px;
    }
    .caption{
        padding-top: 50%;
    }
    .caption p{
        font-size: 12px;
    }
}

@media (max-width:376px){
    .program img{
        width: 50px;
        height: 50px;
    }
    .caption img{
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }
    .caption{
        padding-top: 50%;
    }
    .caption p{
        font-size: 10px;
    }
    .programs{
        margin: 20px auto;
    
    }
}