.programs{
    margin: 40px auto;
    padding: 0 60px;
    position: relative;

}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program{
    flex-basis: 31%;
    position: relative;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background: rgba(0, 15,152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:antiquewhite;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}

.next-btn , .back-btn{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px ;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color:  rgba(37, 11, 5, 0.7);
}
.back-btn{
    right: auto;
    left:0;
}
.slider{
    overflow: hidden;

}
.slider ul{
    display: flex;
    width: 400%;
    overflow-x: hidden;
    transition: 1s;
}

.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}

.slide{
    box-shadow:  0 0 20px rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 10px;
    color:#676767;
    line-height: 1.4;
}
.slide img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid rgba(37, 11, 5, 0.7);
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;

}
.user-info h3{
    color:#212121;
}

/*................media queries...................  */
@media (max-width: 800px){
    .programs{
        padding: 0 40px;
    }
    .next-btn , .back-btn{
        padding: 10px;
        width: 35px;
    }
    .testimonials ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }
    .slide img{
        width: 50px;
        border:3px solid rgba(37, 11, 5, 0.7)
    }
}

@media (max-width: 600px){
    .user-info{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .user-info h3{
        font-size: 16px;
    }
    .slider p{
        font-size: 12px;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}